:root {
    --hd-and-ft-background: #3d4766;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff0bf;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    line-height: 1.5;
}

main {
    flex: 1;
    display: grid;
    place-content: center;
    gap: 15px;
}

table {
    border: 4px solid #888;
    border-radius: 15px;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #fff5d4;
}

table td {
    font-size: 1.3rem;
}

td,
th {
    border-bottom: 4px solid #888;
    padding: .5rem 1rem;
}

button {
    background-color: #7999f7;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    font-size: .9rem;
}

button:hover {
    cursor: pointer;
}

td button {
    background-color: #7999f7;
    font-weight: 700;
    color: #fff;
    border-radius: 8px;
}

td:has(button) {
    border: none;
}

header,
footer {
    background-color: var(--hd-and-ft-background);
    color: #fff;
}

header {
    padding: 1rem;
}

footer {
    padding: .5rem;
}

a {
    color: #fff;
}

.modal {
    justify-self: center;
    align-self: center;
    padding: .5rem;
}

dialog::backdrop {
    background-color: rgba(0 0 0 / .5);
}

form input {
    width: 100%;
}

form p label {
    display: block;
    text-align: start;
}

.close {
    background-color: #eb6157;
}
